h1 { font-size: 50px; 
text-align: center;
color: orange;
}

h2 { font-size: 28px; 
text-align: center;
}

p { font-size: 20px; 
text-align: left;
}

li { font-size: 24px; }

h3 { font-size: 28px; }

